services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_USER: ${MYSQL_ROOT_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_PASSWORD_FILE: /run/secrets/db_user_password
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - inception_network

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    restart: always
    env_file:
      - .env
    environment:
      # These must be explicitly defined here so Compose passes them to the script
      - WORDPRESS_DB_NAME=${WORDPRESS_DB_NAME}
      - WORDPRESS_DB_USER=${WORDPRESS_DB_USER}
      - WORDPRESS_DB_HOST=${WORDPRESS_DB_HOST}
      - WP_URL=${WP_URL}
      - WP_TITLE=${WP_TITLE}
      - WP_ADMIN_USER=${WP_ADMIN_USER}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_USER=${WP_USER}   # For the extra user
      - WP_EMAIL=${WP_EMAIL} # For the extra user
    depends_on:
      mariadb:
        condition: service_healthy
    secrets:
      - db_user_password
      - wp_admin_password
      - wp_user_password
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception_network

  nginx:
    build: ./requirements/nginx
    image: nginx
    restart: always
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception_network

volumes:
  wp_data:
    driver: local
  mariadb_data:
    driver: local

networks:
  inception_network:
    driver: bridge

secrets:
  db_root_password:
    file: ../secrets/db_root_password
  db_user_password:
    file: ../secrets/db_user_password
  wp_admin_password:
    file: ../secrets/wp_admin_password
  wp_user_password:
    file: ../secrets/wp_user_password

