# ==================================================
# MariaDB Configuration
# ==================================================
MYSQL_ROOT_USER = [your_root_username_here]
MYSQL_DATABASE = [your_database_name_here]
MYSQL_USER = [your_normal_username_here]
MYSQL_TCP_PORT = [your_maria_db_port]
# ==================================================
# WordPress Database Connection 
# ==================================================
WORDPRESS_DB_HOST = [your_database_service]
WORDPRESS_DB_NAME = [your_wordpress_database_name]
WORDPRESS_DB_USER = [your_wordpress_username]

# ==================================================
# WordPress Site Setup
# ==================================================
WP_URL = [your_wordpress_url_here]
WP_TITLE = [your_wordpress_title_here]
WP_ADMIN_USER = [your_wordpress_admin_here]
WP_ADMIN_EMAIL = [your_wordpress_email_here]

WP_USER = [your_wp_user_here]
WP_EMAIL = [your_wp_email_here]
